.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boardMargin {
  margin-top: 10px;
}

.scrollHead,
.scrollMid,
.scrollFoot {
  box-sizing: border-box;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.scrollHead {
  height: 68px;
  background-image: url('../assets/scroll_head.png');
}

.scrollMid {
  height: auto;
  padding: 20px 75px;
  background-image: url('../assets/scroll_mid.png');
}

.scrollFoot {
  height: 60px;
  background-image: url('../assets/scroll_foot.png');
}

.scroll {
  box-sizing: border-box;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 250px;
}

.centerBlock {
  width: 100%;
  text-align: center;
}

@media (min-width: 500px) {
  .scrollMid {
    padding: 20px 100px;
  }
}