.rpgui-content {
  font-size: 16px;
  overflow-y: scroll;
}

.noRpgFont *:not(.normalStyle) {
  font-family: 'Courier New', Courier, monospace !important;
  text-shadow: none !important;
  color: black !important;
}

.rpgui-content .noRpgFont input,
.rpgui-content .noRpgFont textarea {
  background: rgba(0, 0, 0, 0.2);
  border: none !important;
}

.oldMapBg {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  filter: brightness(0.5);
}

ul.rpgui-dropdown-imp {
  width: auto !important;
}

.rpgui-button.autoHeight {
  min-height: 60px;
  height: auto !important;
}